<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список расписаний</title>
    <link rel="stylesheet" href="/css/main-list.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<header class="header">
    <div class="container d-flex justify-content-between align-items-center">
        <h1>Bus Company Admin Panel</h1>
        <button class="btn btn-danger logout-btn" onclick="logout()">Выйти</button>
    </div>
</header>

<div class="container">
    <h1>Просмотр расписаний</h1>
    <a th:href="@{'/'}" class="btn btn-secondary mb-3">Вернуться на главную</a>

    <form action="/admin/reports/ticket-sales" method="get">
        <button type="submit" class="btn btn-info">Прибыль excel</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Рейс</th>
            <th>Маршрут</th>
            <th>Транспортное средство</th>
            <th>Водитель</th>
            <th>Количество мест</th>
            <th>Количество занятых мест</th>
            <th>Откуда</th>
            <th>Куда</th>
            <th>Время отправления</th>
            <th>Время прибытия</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule : ${schedules}">
            <td th:text="${schedule.trip.tripNumber}"></td>
            <td th:text="${schedule.trip.route.startLocation} + ' - ' + ${schedule.trip.route.endLocation}"></td>
            <td th:text="${schedule.vehicle.vehicleNumber}"></td>
            <td th:text="${schedule.driver != null ? schedule.driver.firstName + ' ' + schedule.driver.lastName : 'No Driver Assigned'}"></td>
            <td th:text="${schedule.vehicle.capacity}"></td>
            <td th:text="${schedule.trip.occupiedSeats}"></td>
            <td th:text="${schedule.trip.departureLocation}"></td>
            <td th:text="${schedule.trip.destinationLocation}"></td>
            <td th:text="${#temporals.format(schedule.trip.departureDatetime, 'dd.MM.yyyy HH:mm')}"></td>
            <td th:text="${#temporals.format(schedule.trip.arrivalDatetime, 'dd.MM.yyyy HH:mm')}"></td>
            <td>
                <a th:href="@{'/admin/schedule/details/' + ${schedule.id}}" class="btn btn-secondary">Детали</a>
            </td>
            <td>
                <a th:href="@{/admin/schedule/tickets-sold(tripId=${schedule.trip.id}, date=${#temporals.format(schedule.trip.departureDatetime, 'yyyy-MM-dd')})}"
                   class="btn btn-info">Скачать Excel</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function logout() {
        window.location.href = "/logout";
    }
</script>
</body>
</html>
