<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список расписаний</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Список расписаний</h1>

    <a th:href="@{'/'}" class="btn btn-secondary mb-3">Вернуться на главную</a>
    <a th:href="@{'/admin/schedule/create'}" class="btn btn-primary mb-3">Добавить расписание</a>

    <table class="table">
        <thead>
        <tr>
            <th>Рейс</th>
            <th>Маршрут</th>
            <th>Транспортное средство</th>
            <th>Водитель</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule : ${schedules}">
            <td th:text="${schedule.trip.tripNumber}"></td>
            <td th:text="${schedule.trip.route.startLocation} + ' - ' + ${schedule.trip.route.endLocation}"></td>
            <td th:text="${schedule.vehicle.vehicleNumber}"></td>
            <td th:text="${schedule.driver.firstName} + ' ' + ${schedule.driver.lastName}"></td>

            <td>
                <a th:href="@{'/admin/schedule/details/' + ${schedule.id}}" class="btn btn-secondary">Детали</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
