<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список маршрутов</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Список маршрутов</h1>

  <a th:href="@{'/'}" class="btn btn-secondary mb-3">Вернуться на главную</a>

  <a th:href="@{'/admin/route/create'}" class="btn btn-primary mb-3">Добавить маршрут</a>

  <form th:action="@{'/admin/route/search'}" method="get">
    <input type="text" name="keyword" placeholder="Введите место отправления или назначения" class="form-control"/>
    <button type="submit" class="btn btn-primary">Поиск</button>
  </form>

  <p></p>

  <span th:if="${routes.size() == 0}">Список маршрутов пуст</span>

  <table th:if="${routes.size() > 0}" class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Место отправления</th>
      <th>Место назначения</th>
      <th>Описание</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="route : ${routes}">
      <td th:text="${route.startLocation}"></td>
      <td th:text="${route.endLocation}"></td>
      <td th:text="${route.description}"></td>
      <td>
        <a th:href="@{'/admin/route/details/' + ${route.id}}" class="btn btn-info">Подробнее</a>
      </td>
      <td>
        <a th:href="@{'/admin/route/edit/' + ${route.id}}" class="btn btn-secondary">Изменить</a>
      </td>
      <td>
        <a th:href="@{'/admin/route/delete/' + ${route.id}}" class="btn btn-danger">Удалить</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
