<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактировать поездку</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Редактировать поездку</h1>
  <form th:action="@{'/admin/trip/edit'}" th:object="${trip}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <div class="form-group">
      <label for="tripNumber">Номер поездки</label>
      <input type="text" class="form-control" id="tripNumber" th:field="*{tripNumber}" required>
    </div>

    <div class="form-group">
      <label for="departureLocation">Место отправления</label>
      <input type="text" class="form-control" id="departureLocation" th:field="*{departureLocation}" required>
    </div>

    <div class="form-group">
      <label for="destinationLocation">Место назначения</label>
      <input type="text" class="form-control" id="destinationLocation" th:field="*{destinationLocation}" required>
    </div>

    <div class="form-group">
      <label for="departureDatetime">Дата и время отправления</label>
      <input type="datetime-local" class="form-control" id="departureDatetime" th:field="*{departureDatetime}" required>
    </div>

    <div class="form-group">
      <label for="arrivalDatetime">Дата и время прибытия</label>
      <input type="datetime-local" class="form-control" id="arrivalDatetime" th:field="*{arrivalDatetime}" required>
    </div>

    <div class="form-group">
      <label for="occupied_seats">Занятые места</label>
      <input type="text" class="form-control" id="occupied_seats" th:field="*{occupied_seats}" required>
    </div>

    <div class="form-group">
      <label for="capacity">Количество мест</label>
      <input type="text" class="form-control" id="capacity" th:field="*{vehicle.capacity}" required>
    </div>

    <div class="form-group">
      <label for="vehicle">Транспортное средство</label>
      <select class="form-control" id="vehicle" th:field="*{vehicle.id}" required>
        <option th:each="vehicle : ${vehicles}" th:value="${vehicle.id}" th:text="${vehicle.vehicleType}"></option>
      </select>
    </div>

    <div class="form-group">
      <label for="route">Маршрут</label>
      <select class="form-control" id="route" th:field="*{route.id}" required>
        <option th:each="route : ${routes}" th:value="${route.id}" th:text="${route.startLocation} + ' - ' + ${route.endLocation}"></option>
      </select>
    </div>



    <button type="submit" class="btn btn-success">Сохранить</button>
    <a th:href="@{'/admin/trip/list'}" class="btn btn-secondary">Назад</a>
  </form>
</div>
</body>
</html>
